{% extends 'blog/base.html' %}

{% block title %}Publicaciones{% endblock %}

{% block content %}
<h2>Publicaciones</h2>
<ul>
    {% for publicacion in publicaciones %}
        <li>
            <h3>{{ publicacion.titulo }}</h3>
            {% if publicacion.imagen %}
                <img src="{{ publicacion.imagen.url }}" alt="{{ publicacion.titulo }}" style="max-width: 300px;">
            {% endif %}
            <p>{{ publicacion.descripcion }}</p>
            <p><strong>Autor: {{ publicacion.autor }}</strong></p>
        </li>
    {% endfor %}
</ul>
{% endblock %}
